:root {
  --dark-bg: rgba(0, 4, 7, 1);
  --dark-bg-accent: rgb(0, 4, 10, 1);

  --dark-color: rgba(250, 250, 250, 1);
  --dark-color-blue: #1f84be;
}

body {
  background-color: var(--dark-bg);
  color: var(--dark-color);
  font-family: Roboto;

  overflow: overlay;

  margin: 0;
  padding: 0;

  scrollbar-color: rgba(31, 132, 190, 1) rgba(0, 4, 7, 1);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.2);
  transition: all 0.5 ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(31, 132, 190, 0.6);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(31, 132, 190, 1);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

#app .container {
  width: 100%;
  height: 100vh;
}

/* BEGIN NAVBAR */

.navbar {
  position: sticky;
  background-color: var(--dark-bg-accent);
  
  height: 3rem;

  display: flex;
  align-items: center;

  margin-bottom: .5rem;
}

.navbar .separator {
  position: absolute;
  bottom: 0;
  left: 0;

  background: linear-gradient(-45deg, #4beeaa, #2399dd, #9d23d5);
  background-size: 400% 400%;
  animation: sep-gradient 15s ease infinite;

  width: 100%;
  height: 1px;
}

.navbar .content {
  position: relative;
  display: flex;

  width: 100%
}

.navbar .content > div {
  margin-left: 4rem;
  margin-right: 4rem;
  width: 100%;
}

.navbar .content .left {
  text-align: left;
}

.navbar .content .right {
  text-align: right;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-color);
  transition: color .1s ease-out;

  margin-right: .5rem;
}

.navbar .content .right .nav-link:last-child {
  margin-right: 0;
}

.nav-link.active {
  color: var(--dark-color-blue) !important;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .navbar .content .right {
    display: none;
  }

  .navbar .content .left {
    text-align: center !important;
  }
}

.nav-link.twitter:hover {
  color: rgba(0, 172, 238, 1);
}

.nav-link.discord:hover {
  color: rgba(88, 101, 242, 1);
}

.nav-link:hover {
  color: rgba(250, 250, 250, .75);
}

.navbar:hover::before {
  opacity: 1;
}

.navbar::before {
  background: radial-gradient(
    350px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  content: "";
  border-radius: inherit;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

@keyframes sep-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	to {
		background-position: 0% 50%;
	}
}

/* END NAVBAR */

.container .content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100% - 4rem); /* very smart way to fix this stupid issue of me not being able to position shit */
  width: 100%;

  text-align: center;
}

.content .wrapper .title {
  font-size: 3rem;
}

.content .wrapper .subtitle {
  font-size: .85rem;
  color: rgba(250, 250, 250, .3);
  font-style: italic;
}

.content .wrapper .subtitle a {
  text-decoration: underline;
  color: rgba(250, 250, 250, .3);
}

.content .wrapper .subtitle .link {
  text-decoration: underline;
  color: rgba(250, 250, 250, .3);
  cursor: pointer;
}

/* BEGIN FOOTER */

.footer {
  position: relative;
  width: 100%;

  background-color: var(--dark-bg-accent);
}

.footer .separator {
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(-45deg, #4beeaa, #2399dd, #9d23d5);
  background-size: 400% 400%;
  animation: sep-gradient 15s ease infinite;

  width: 100%;
  height: 1px;
}

.footer .content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;

  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.footer .content > div {
  width: 100%;
}

.footer:hover::before {
  opacity: 1;
}

.footer::before {
  background: radial-gradient(
    450px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  content: "";
  border-radius: inherit;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.box.social {
  width: 4.5rem;
  height: 4.5rem;

  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(-45deg, #4beeaa, #2399dd, #9d23d5);
  background-size: 400% 400%;
  animation: sep-gradient 15s ease infinite;

  z-index: 5;

  transition: all 0.2s ease-out;
}

.box.social {
  width: 4.5rem;
  height: 4.5rem;

  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(-45deg, #4beeaa, #2399dd, #9d23d5);
  background-size: 400% 400%;
  animation: sep-gradient 15s ease infinite;

  z-index: 5;

  transition: all 0.2s ease-out;
}

.box.social > .inner {
  background: var(--dark-bg);
  
  width: 90%;
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  z-index: 5;

  transition: all 0.2s ease-out;
}

.box.social > .inner:hover {
  background: transparent;
  color: black;
}

.footer .socials {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.footer .socials a {
  white-space: nowrap;
}

.footer .copyright {
  text-align: center;

  color: rgba(255,255,255,0.5);

  padding-bottom: 1rem;
  padding-top: 1rem;
}

#notification-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;

  margin-bottom: 1rem;
  margin-left: 1rem;

  width: calc(100% - 2rem);
  height: 3.5rem;

  z-index: 10;

  background: linear-gradient(-45deg, #4beeaa, #2399dd, #9d23d5);
  background-size: 400% 400%;
  animation: sep-gradient 15s ease infinite;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .35s transform ease-out;
}

#notification-wrapper.critical {
  background: linear-gradient(-45deg, #ee4b4b, #df0d0d, #df3e0d) !important;
}

#notification-wrapper .background {
  position: relative;
  
  height: calc(100% - 2px);
  width: calc(100% - 2px);

  background: var(--dark-bg-accent);
}

#notification-wrapper.get-out {
  transform: translateY(4.5rem);
}

.notification-container {
  display: grid;

  grid-template-columns: 4rem calc(100% - 8rem) 4rem;
  width: 100%;
  height: 100%;
}

@keyframes notification-icon {
	0% {
		color: #9d23d5;
	}
	25% {
		color: #2399dd;
	}
  50% {
    color: #4beeaa;
  }
  75% {
    color: #2399dd;
  }
  to {
    color: #9d23d5;
  }
}

.notification-container .notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 100%;

  color: #9d23d5;

  animation: notification-icon 15s ease infinite;

  transition: .15s color ease-in-out;

  font-size: 1.65rem;
}

#notification-wrapper.critical  .notification-icon {
  color: #ee4b4b !important;
}

.notification-container .notification-message {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 1rem;
}

.notification-container .notification-close {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 100%;

  font-size: 1.4rem;

  float: right;

  cursor: pointer;

  transition: .15s all ease-out;
}

.notification-container .notification-close:hover {
  color: red;
  transform: rotate(180deg);
}

.notification-container a {
  color: white;
}

.notification-container a:hover {
  color: rgb(212, 212, 212);
}
